/* Base styles and global resets */
html {
  font-family: 'Inter', sans-serif;
}

body {
  padding-top: var(--navbar-height);
  margin: 0;
}

.main-container {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 1rem;
}

a {
  color: var(--brand-secondary);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.page-paragraph a:hover,
.main-container a:hover {
  color: var(--hover-blue);
}
